<<<<<<< HEAD
<h3>Creditos</h3>
    <p>Autor: Jon Arias Gutiérrez</p>
    <img src="/images/autor.jpg" height="150px" alt="Jon Arias"/>
=======
<h3>Créditos</h3>
    <p>Autor: Jon Arias Gutiérrez</p>
    <img src="/images/autor.jpg" height="150px" alt="Jon Arias Gutiérrez"/>

>>>>>>> 6e23de45573999b065c7778f50d59c26fa3b2ba9
